.directions {
  padding: 2%;
  width: 100%;
  background-color: hsla(0, 1%, 36%, 0.685);
  border: 1px solid #f3072f;
}

.directions h1 {
  text-align: center;
  margin: 0px 0px 50px;
  font-size: 2.7em;
  color: #87878ae7;
  text-shadow: 1px 1px 5px #000000, 0 0 30px #da990bec, 0 0 15px #764105e5;
}